<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
 
      
      <services>
            <service name="TripiWCF.Service.TripService" >
                <endpoint address="http://localhost:8080/TripiWCF" binding="basicHttpBinding"
                    bindingConfiguration="" name="TripiHost"
                    contract="TripiWCF.Service.ITripService" />
            </service>
        </services>
      
    </system.serviceModel>
</configuration>