<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TripiWCF.Behave" name="TripiWCF.Service.TripServiceVolatile">
        <endpoint address="main"
              behaviorConfiguration=""
              binding="basicHttpBinding"
              bindingConfiguration=""
              contract="TripiWCF.Service.ITripService"
              name="Main" >
        </endpoint>

        <endpoint address="mex"
              binding="mexHttpBinding"
              contract="IMetadataExchange"
              name="Mex"  />

        <endpoint behaviorConfiguration="EnableWebProgrammingModel"
              binding="webHttpBinding"
              bindingConfiguration=""
              name="PolicyResponder"
              contract="TripiWCF.Service.ICrossDomainPolicyResponder" />

        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8765" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="TripiWCF.Behave" name="TripiWCF.Service.TripServiceXml">
        <endpoint address="main"
              behaviorConfiguration=""
              binding="basicHttpBinding"
              bindingConfiguration=""
              contract="TripiWCF.Service.ITripService"
              name="Main" >
        </endpoint>

        <endpoint address="mex"
              binding="mexHttpBinding"
              contract="IMetadataExchange"
              name="Mex"  />

        <endpoint behaviorConfiguration="EnableWebProgrammingModel"
              binding="webHttpBinding"
              bindingConfiguration=""
              name="PolicyResponder"
              contract="TripiWCF.Service.ICrossDomainPolicyResponder" />

        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8765" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EnableWebProgrammingModel">
          <webHttp />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="TripiWCF.Behave">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>