<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://127.0.0.1:8765/main" binding="basicHttpBinding"
            bindingConfiguration="" contract="TripiWCF.ClientMockup.Proxy.ITripService"
            name="TripiLocalhost" />
      <endpoint address="http://joannar:8765/main" binding="basicHttpBinding"
          bindingConfiguration="" contract="TripiWCF.ClientMockup.Proxy.ITripService"
          name="TripiAha" />
      <endpoint address="http://10.211.55.3:8765/main" binding="basicHttpBinding"
          bindingConfiguration="" contract="TripiWCF.ClientMockup.Proxy.ITripService"
          name="TripiStaro" />
      <endpoint address="http://ssandra:8765/main" binding="basicHttpBinding"
          bindingConfiguration="" contract="TripiWCF.ClientMockup.Proxy.ITripService"
          name="Tripi3m1l" />
    </client>
  </system.serviceModel>
</configuration>