<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://127.0.0.1:8765/main" binding="basicHttpBinding"
                bindingConfiguration="" contract="TripiWCF.ClientMockup.Proxy.ITripService"
                name="TripiTestClient" />
        </client>
    </system.serviceModel>
</configuration>